<header class="site-header" role="banner">

  <div class="wrapper">

    <a href="{{site.url | relative }}">
        <img class="site-logo" src="{{site.logo-url}}" alt="{{site.logo-alt}}" /> 
    </a>
    <a class="site-title" href="{{site.url | relative }}" style="text-decoration:none;" >{{ site.title | escape }}</a>
    <a class="site-subtitle" style="text-decoration:none;" >{{site.subtitle | escape}}</a>

    <div style="width: 100%;">
     {% include navigation.html %}
    </div>
  </div>

</header>
