/**
 * Site header
 */
.site-header {
  background-color: $header-bg-color;
  min-height: 65px;
  min-width: 100%;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.offsetter {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.site-logo {
  height: 65px;
  width: 65px;
  float: left;
}
.li-horizontal {
  float: left;
}

.li-horizontal a {
  display: block;
  padding: 10px;
  text-align: center;
  color: $header-bg-color;
  background-color: $navigation-bg-color;
}

.li-horizontal a:hover:not(.active) {
    background-color: $title-color;
    text-decoration: none;
    color: $navigation-text-color
}

.li-vertical a {
  //display: left;
  //padding: 10px;
  //text-align: left;
  color: $header-bg-color;
  //background-color: $navigation-bg-color;
}

.li-vertical a:hover:not(.active) {
    //background-color: $title-color;
    text-decoration: none;
    color: $title-color;
}

.navigation-horizontal {
  clear: left;
  background-color: $navigation-bg-color;
  list-style-type: none;
  //padding: 0px;
  margin: 65px;
  width: 100%;

}

.navigation-vertical {
  clear: right;
  float: left;
  //background-color: $navigation-bg-color;
  list-style-type: square;
  //padding: 0px;
  bottom: 0px;

}

.light-text {
  font-weight: 200;
}
.assignment-info-text {
  font-weight: 400;
}

.thumbnail {
  height: 128px;
  max-width: 128px;
 // display: inline;
}

.text-thumbnail {
  font-size: 36px;
  //text-align: center;
  //float: right;
  color: $subtitle-color;
  text-decoration: none;
}
.text-thumbnail:hover {
  text-decoration: none;
}

.left-column {
  vertical-align: top;
  float: left;
  width: 30%;
}

.right-column {
  vertical-align: top;
  float: right;
  width: 70%;
}

.little-text {
  font-size:10px;
}

.ordered-list {
  font-size: 50px; 
  margin-left: 60px;
  color: $title-color;
}

.list-cell {
  height: 54px; 
  width: 256px; 
  background-color: $navigation-bg-color;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.list-cell a {
  vertical-align: center;
  color: $title-color;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

}

.list-cell a:hover {
  background-color: $title-color;
  color: $navigation-text-color;
  text-decoration: none;
}

.project-done {
  background-color: mediumseagreen;
  color: $subtitle-color;
  
  margin: 10px;
  text-align: center;
}

.project-in-progress {
  background-color: $title-color;
  color: $header-bg-color;
  
  margin: 10px;
  text-align: center;
}

.site-title {
  font-size: 32px;
  font-weight: 300;
  color: $title-color;
  line-height: 65px;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-left: 10px;
  float: left;

  &,
  &:visited {
    color: $title-color;
  }
}

.site-subtitle {
  font-size: 28px;
  font-weight: 100;
  color: black;
  line-height: 65px;
  margin-bottom: 0;
  margin-left: 20px;
  float: left;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $subtitle-color;
  color: $header-bg-color;
  //position: absolute;

}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  min-height: 200px;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
